*
{
   color: #39C5BB;
   color: #FAFAFA; 
   color: #D1D5DB;
   color: #374151;
   /*
   Fondo de la fachada en #FAFAFA (Blanco).
   La palabra REFRAIN centrada en letras grandes con #374151 (Gris Antracita).
   Debajo, en un tamaño más pequeño y estilizado, la frase IDOL ATELIER en #D1D5DB (Gris Claro).
   Al lado o sobre la última letra, una pequeña estrella de cuatro puntas (brillo de Idol/Vtuber) 
   o un sutil detalle en #39C5BB (Azul Miku).
   */
}